body {
	margin: 0;
	padding: 0;
	color: #484848;
	flex-direction: column;
	font-family: Circular, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	display: flex;
}

.container {
    margin-top: 30px;
    margin-bottom: 30px;
    align-self: center;
}

@media (min-width: 300px) and (max-width: 800px) {
    .container {
	width: 85%;
    }
}

@media (min-width: 801px) {
    .container {
	width: 1000px;
    }
}